* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e2d5cb;
}
/* section 1 start */
.contenar1 {
  display: flex;

  flex: 1;
}
.image1 img {
  width: 100vh;
  height: 100vh;
  flex: 1;
}
.heding {
  flex: 1;
  background-color: #e2d5cb;
  padding: 30px;
  height: 100vh;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.header h2 {
  font-size: 6rem;
  width: 600px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
}
.card1 h4 {
  text-align: center;
  font-size: 2rem;
}
.header h5 {
  font-size: 1.2rem;
  width: 300px;
  text-align: center;
  margin-top: 30px;
}

.header .btn1 {
  margin-top: 30px;
}

.btn1 button {
  padding: 10px;
  border-radius: 30px;
  border: none;
  font-weight: 600;
}
/* section 1 end */

/* section 2 start */
.contenar2 {
  margin-top: 30px;
}
.card2 h2 {
  text-align: center;
}

/* section 2 end */

/* section 3 start */
.contenar3 {
  display: flex;
  justify-content: center;
  display: grid;

  padding: 30px;
}
.card3 img {
  width: 350px;
  height: 400px;
  padding: 10px;
  border-radius: 20px;
}

/* section 3 end */

/* section 4 start */
.contenar4 {
  background-color: #954f44;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.card4 video {
  width: 300px;
  border-radius: 10%;
}
.card402 img {
  width: 300px;
  border-radius: 20px;
}
.soon {
  width: 400px;
  color: #ffff;
}

.soon h5 {
  margin-top: 30%;
  text-align: center;
  text-align: left;
  font-size: 1.5rem;
}
.soon h4 {
  margin-top: 30%;
}
/* section 4 end */

/* section 5 start */

.contenar5 {
  display: flex;
}
.image5 img {
  width: 500px;
}
.text4 {
  color: #e2d5cb;
  line-height: 2;
}
.icon4 {
  font-size: 3rem;
}

.text4 h3 {
  font-size: 2rem;
  font-weight: normal;
  width: 400px;
}
/* section 5 end */

/* section 6 start */
.contenar6 {
  background-color: #954f44;
  display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 30px;
  text-align: center;
}

.card6 {
  width: 300px;
  height: 500px;
  background-color: antiquewhite;
  border-radius: 10px;
}
.card6 img {
  width: 300px;
  height: 400px;
  border-radius: 10px;
}
.card6 h4 {
  margin-top: 30px;
}

/* section 6 end */

/* section 7 start */
.contenar7 {
  padding: 30px;
}
.contenar7 h5 {
  line-height: 3;
  font-size: 2rem;
}
.contenar7 h1 {
  gap: 30px;
  line-height: 5;
  font-family: Georgia, "Times New Roman", Times, serif;
  word-spacing: 10px;
}

.contenar7 h2 {
  line-height: 6;
}
.SOCIAL {
  display: flex;
  gap: 7rem;
}
.list ul {
  line-height: 3;
  list-style: none;
}
.find {
  padding: 30px;
}
.find h3 {
  margin-top: 3rem;
}
.card7 {
  width: 200px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  line-height: 1.5;
}
.modern {
  display: flex;
  gap: 5rem;
}

/* section 7 end */

/* section 8  */
.contenar8 img {
  width: 100%;
}

/* section 8 end */
@media (max-width: 768px) {
  /* section 1 start */
  .contenar1 {
    display: flex;
    flex-direction: column;
  }
  .header h2 {
    font-size: 2.6rem;
    width: 300px;
  }
  .image1 img {
    object-fit: contain;
    width: 360px;
    object-fit: cover;
  }

  /* section 1 end */

  /* section 4 start */
  .contenar4 {
    display: flex;
    flex-direction: column;
  }
  .soon {
    width: 300px;
  }
  .soon h5 {
    font-size: 1rem;
    width: 300px;
  }

  /* section 4 end */

  /* section 5 start */
  .text4 h3 {
    width: 300px;
  }
  .image5 img {
    width: 300px;
  }

  /* section 5 end */

  /* section 6 start */

  .contenar6 {
    display: flex;
    flex-direction: column;
  }
  /* section 6 end */

  /* section 7 start */
  .SOCIAL {
    display: flex;
    flex-direction: column;
  }
  .modern {
    display: flex;
    flex-direction: column;
  }

  /* section 7 end */
}
